# Ignore everything, except listed files
*

# Global files
!.gitignore
!.gitattributes
!README.md
!LICENSE

# WF
!main.wf
!stdlib.wf
!snippets.wf
!helloworld.wf

# Syntax files
!syntax/
!syntax/wf.sublime-syntax
!syntax/package.json
!syntax/wf.tmLanguage.json


# WFP
!wfp/
!wfp/wfp.exe
!wfp/wfp

# Projects files
!Makefile
!wfp/wfp.sln
!wfp/wfp.vcxproj
!wfp/wfp.vcxproj.filters
!wfp/wfp.vcxproj.user
!wfp/resource.h
!wfp/resource.rc
!wfp/icon.ico

# Sources files
!wfp/main.cpp
!wfp/system.h
!wfp/system.cpp
!wfp/wflexer.h
!wfp/wflexer.cpp
!wfp/wfp.h
!wfp/wfp.cpp


# WFC
!wfc/

# Projects files
!Makefile
!wfc/wfc.sln
!wfc/wfc.vcxproj
!wfc/wfc.vcxproj.filters
!wfc/wfc.vcxproj.user
!wfc/resource.h
!wfc/resource.rc
!wfc/icon.ico

# Sources files
!wfc/main.cpp
!wfc/system.h
!wfc/system.cpp
!wfc/windowsasm.h
!wfc/linuxasm.h
!wfc/wflexer.h
!wfc/wflexer.cpp
!wfc/wfc.h
!wfc/wfc.cpp


# ASM
!wfc/asmwindows/
!wfc/asmwindows/compile.bat
!wfc/asmwindows/main.asm
!wfc/asmlinux/
!wfc/asmlinux/compile.sh
!wfc/asmlinux/main.asm
