# Ignore everything, except listed files
*

# Global files
!.gitignore
!README.md
!LICENSE

# WFP
!wfp/

# Projects files
!Makefile
!wfp/wfp.sln
!wfp/wfp.vcxproj
!wfp/wfp.vcxproj.filters
!wfp/wfp.vcxproj.user
!wfp/resource.h
!wfp/resource.rc
!wfp/icon.ico

# Sources files
!wfp/main.cpp
!wfp/system.h
!wfp/system.cpp
!wfp/wfp.h
!wfp/wfp.cpp


# WFC
!wfc/

# ASM
!wfc/asmwindows/
!wfc/asmwindows/compile.bat
!wfc/asmwindows/main.asm
!wfc/asmlinux/
!wfc/asmlinux/compile.sh
!wfc/asmlinux/main.asm
