# Ignore everything, except listed files
*

# Global files
!.gitignore
!README.md
!LICENSE

# WFP
!wfp/

# Projects files
!wfp/wfp.sln
!wfp/wfp.vcxproj
!wfp/wfp.vcxproj.filters
!wfp/wfp.vcxproj.user
!wfp/resource.h
!wfp/resource.rc
!wfp/icon.ico

# Sources files
!wfp/main.cpp
!wfp/system.h
!wfp/system.cpp
!wfp/wfp.h
!wfp/wfp.cpp
